.añadir{
  color: #0dbb33;
  background: #FFF;
  border: 1px solid #0dbb33;
  border-radius: 0;
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
}

.añadir:focus{
  box-shadow: none;
}
  
.añadir:hover{
  background: #0dbb33;
  color: #FFF;
}

/*MODAL*/

.modal-header{
  border: none;
}

.modal-footer{
  border: none;
}

.carrito{
  background: #0dbb33;
  border-radius: 0;
  color: #FFF;
}

.carrito:hover{
  color: #FFF;
  background: #0dbb33de;
}