/*INICIO*/

.container-inicio{
  background: rgb(200, 200, 200);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
}

/*SLIDER*/

.carousel{
  height: 450px;
}

.carousel-inner{
  height: 100%;
}

.carousel-item{
  height: 100%;
}

.carousel-item img{
  height: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
}

.fa-circle{
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  padding: 5px 3px;
}

.arrow{
  font-size: 25px;
  background: none;
  border: none;
  width: 8%;
  color: rgba(255, 255, 255, 0.8);
}

.arrow:hover{
  color: rgba(255, 255, 255, 0.9);
}

/*SECTIONS*/

.container-section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #FFF;
  margin-bottom: 10px;
}

.division-section{
  width: 95%;
}

/*RESPONSIVE*/

@media(max-width: 991px){
  .carousel{
    height: 300px;
  }
}

@media(max-width: 767px){
  .carousel{
    height: 235px;
  }

  .container-inicio{
      padding-top: 136px;
  }
}

@media(max-width: 575px){
  .carousel{
    height: 170px;
  }
}