.todo{
  color: #FFF;
  background: #0dbb33;
  border-radius: 0;
  padding: 8px 20px;
  margin: 25px 0px;
  text-decoration: none;
  text-align: center;
}

.todo:hover{
  background: #0dbb33de;
  color: #FFF;
}