*{
    padding: 0;
    margin: 0;
}

.container-carrito{
    padding-top: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #FFF;
}

.division-carrito{
    margin: 20px 0px 30px 0px;
    width: 95%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.container-products-cart{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 0px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.container-price-cart{
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

/*RESPONSIVE*/

@media(max-width: 700px){
    .container-carrito{
        padding-top: 119px;
    }
    .division-carrito{
        flex-direction: column;
        align-items: center;
    }
    .container-products-cart{
        margin: 10px 0px;
    }
}
@media(max-width: 430px){
    .container-price-cart{
        width: 100%;
        padding: 16px 0px;
        margin: 10px 0px;
    }
}