*{
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

h4{
    font-family: 'Bebas Neue', cursive;
    color: rgb(0, 0, 30);
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 22px;
}

.container-footer{
    background: #0dbb33;
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.division-footer{
    height: 90%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-logo-footer{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.container-logo-footer img{
    width: 140px;
}

.box-social{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box-social a{
    color: rgb(0, 0, 30);
    font-size: 2rem;
    text-decoration: none;
}

.box-social a:hover{
    color: #FFF;
}

.container-contact-footer{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-footer{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-footer{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.icon-footer a{
    color: rgb(0, 0, 30);
    text-decoration: none;
    font-size: 3rem;
}

.icon-footer a:hover{
    color: #FFF;
}

.icon-footer i{
    color: rgb(0, 0, 30);
    font-size: 3rem;
}

.icon-footer p{
    font-size: 16px;
    color: rgb(0, 0, 30);
}

.container-a-footer{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.a-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 80%;
}

.a-footer a{
    color: rgb(0, 0, 30);
    text-decoration: none;
    text-align: center;
}

.a-footer a:hover{
    color: #FFF;
}

.container-info-footer{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 80%;
}

.info-footer a{
    color: rgb(0, 0, 30);
    text-decoration: none;
    text-align: center;
}

.info-footer a:hover{
    color: #FFF;
}

/*RESPONSIVE*/

@media(max-width: 560px){
    h4{
        padding: 10px 0px;
    }
    .container-footer{
        height: 95vh;
    }
    .division-footer{
        height: 95%;
        flex-direction: column;
        justify-content: space-between;
    }
    .container-logo-footer{
        height: auto;
        width: 100%;
    }
    .container-logo-footer img{
        width: 100px;
    }
    .box-social{
        justify-content: center;
    }
    .box-social a{
        margin: 0px 20px;
    }
    .container-contact-footer{
        height: auto;
        width: 100%;
    }
    .container-a-footer{
        height: auto;
        width: 100%;
    }
    .contact-footer{
        flex-direction: row;
    }
    .container-info-footer{
        height: auto;
        width: 100%;
        justify-content: space-around;
    }
}