*{
    padding: 0;
    margin: 0;
}

.box-info{
    margin: 2px 0px;
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.box-info i{
    font-size: 20px;
    padding-top: 5px;
    padding-right: 5px;
    color: #1E96FC;
}

.box-info p{
    text-align: center;
    font-size: 16px;
}