*{
    padding: 0;
    margin: 0;
}

.title-departament{
    background: #FFF;
    height: 12vh;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.title-departament h1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 35px;

    color: #0dbb33;
}

@media(max-width: 400px){
    .title-departament h1{
        font-size: 28px;
    }
}