*{
    padding: 0;
    margin: 0;
}

.container-select{
    /*margin: 15px 4% 15px 0px;
    align-self: flex-end;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-select p{
    padding: 2px;
    font-size: 14px;
}

.container-select select{
    padding: 3px;
    background: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    outline: none;
    font-size: 15px;
}

.container-select option{
    background: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 15px;
}