*{
    padding: 0;
    margin: 0;
}

.container-tiendas{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 12vh;
    background: #FFF;
}

.division-tiendas{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

/*RESPONSIVE*/

@media(max-width: 700px){
    .container-tiendas{
        padding-top: 119px;
    }
}


