*{
    padding: 0;
    margin: 0;
}

.añadir button{
    width: 90%;
    font-family: 'Oswald', sans-serif;
    color: #FFF;
    background: #0dbb33;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    outline: none;
}

.añadir button:hover{
    background: #0dbb33de;
}