*{
    padding: 0;
    margin: 0;
}

.container-ad-shop{
    width: 100%;
}

.container-ad-shop a{
    width: 100%;
}

.container-ad-shop img{
    height: 60vh;
    width: 100%;
    object-fit: cover;
}

/*RESPONSIVE*/

@media(max-width: 700px){
    .container-ad-shop img{
        height: 30vh;
        object-fit: cover;
    }
}